@model IEnumerable<Eburger.Models.tbl_burger>

@{
    ViewBag.Title = "Index";
}


<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="font-weight-bold text-center text-warning">Our <span class="text-primary text-uppercase">Burgers</span> <i class="fas fa-shopping-cart text-success"></i></h3>
            <hr />
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action " id="list-home-list" href="/Carts/Admindashboard" role="tab" aria-controls="home">Dashboard</a>
                        <a class="list-group-item list-group-item-action " id="list-profile-list" href="/Carts/Checkorder" role="tab" aria-controls="profile">Orders</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" href="/Account/Usercreate" role="tab" aria-controls="profile">Create user</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" href="/burger_type//Index" role="tab" aria-controls="settings">Manage Menu</a>
                        <a class="list-group-item list-group-item-action active" id="list-settings-list" href="/tbl_burger/Index" role="tab" aria-controls="settings">Manage Burgers</a>
                        <a class="list-group-item list-group-item-action" id="list-settings-list" href="/Manage/ChangePassword" role="tab" aria-controls="settings">Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="card">
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="col-1">#</th>
                                <th class="col-2 text-center">Burger name</th>
                                <th class="col-1 text-center">Price</th>
                                <th class="col-1 text-center">Weight</th>
                                <th class="col-1 text-center">Picture</th>
                                <th class="col-2 text-center">Description</th>
                                <th class="col-1 text-center">Menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr>
                                <td class="col-1">@Html.DisplayFor(modelItem => item.BurgerID)</td>
                                <td class="col-2 text-center">@Html.DisplayFor(modelItem => item.BurgerName)</td>
                                <td class="col-1 text-center">@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                <td class="col-1 text-center">@Html.DisplayFor(modelItem => item.BurgerWeight)</td>
                                <td class="col-1 text-center"> <img class="card-img-top " src="@Url.Content(item.ImagePath)" style="width: 100%; bottom: 0px; " /></td>
                                <td class="col-2 text-center">@Html.DisplayFor(modelItem => item.Descriptions)</td>
                                <td class="col-1 text-center">@Html.DisplayFor(modelItem => item.burger_type.typeName)</td>
                                <td class="col-2 text-center">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.typeID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.typeID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.typeID })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
